<a href='/wolverine'><div class ='icon'>
    <%= render 'wolverine' %>
    <div class='title left'> Wolverine </div>
  </div></a><a href='/miketyson'><div class ='icon'>
    <%= render 'miketyson' %>
</div></a><a href='/raiden'><div class='icon'>
    <%= render 'raiden' %>
</div></a><a href='/humantorch'><div class='icon'>
    <%= render 'humantorch' %>
</div></a><a href='/spawn'><div class='icon'>
    <%= render 'spawn' %>
</div></a>