<a href='/wolverine'><div class ='icon'>
    <%= render 'wolverine' %>
    <div class='title left'>Wolverine</div>
  </div></a><a href='/miketyson'><div class ='icon'>
    <%= render 'miketyson' %>
    <div class='title middle'>Mike tyson</div>
</div></a><a href='/raiden'><div class='icon'>
    <%= render 'raiden' %>
    <div class='title middle'>Raiden</div>
</div></a><a href='/humantorch'><div class='icon'>
    <%= render 'humantorch' %>
    <div class='title right'>Human Torch</div>
</div></a><a href='/spawn'><div class='icon'>
    <%= render 'spawn' %>
    <div class='title left'>Spawn</div>
</div></a><a href='/drogo'><div class='icon'>
    <%= render 'drogo' %>
    <div class='title middle'>drogo</div>
</div></a><a href='/flash'><div class='icon'>
    <%= render 'flash' %>
    <div class='title middle'>flash</div>
</div></a><a href='/akuma'><div class='icon'>
    <%= render 'akuma' %>
    <div class='title right'>akuma</div>
</div></a><a href='/manny'><div class='icon'>
    <%= render 'manny' %>
    <div class='title left'>Manny</div>
</div></a><a href='/nightcrawler'><div class='icon'>
    <%= render 'nightcrawler' %>
    <div class='title middle'>Nightcrawler</div>
</div></a><a href='/ryu'><div class='icon'>
    <%= render 'ryu' %>
    <div class='title middle'>Ryu</div>
</div></a>
